.container {
  display: flex;
  margin: 0 auto;
  width: $container-size-desktop;
  background: $color-gray-50;
  z-index: -3;
}

.container-6cols {
  @extend .container;
  padding: 0 $grid-desktop-unit;
}
