$color-raccoon: #333;
$color-white: #fff;

$container-size-medium: 920px;

$grid-desktop-col: 120px;
$grid-desktop-gutter: 40px;

$size-unit: .1rem;
$size-double: .2rem;
$size-demi: .4rem;
$size-base: .8rem;
$size-medium: 1.6rem;
$size-large: 3.2rem;