$color-raccoon: #333;
$color-gray-400: #ccc;
$color-white: #fff;

$container-size-desktop: 1280px;

$font-size-default: 1.6rem;
$font-size-navigation: 1.8rem;
$font-size-hero-intro: 4.8rem;
$font-size-hero-title: 4rem;

$grid-desktop-col: 120px;
$grid-desktop-gutter: 40px;
$grid-desktop-unit: ($grid-desktop-col + $grid-desktop-gutter);
$grid-cols-count: 8;

$grid-cols-1: $grid-desktop-col;
$grid-cols-2: ($grid-desktop-unit * 2) - $grid-desktop-gutter;
$grid-cols-3: ($grid-desktop-unit * 3) - $grid-desktop-gutter;
$grid-cols-4: ($grid-desktop-unit * 4) - $grid-desktop-gutter;
$grid-cols-5: ($grid-desktop-unit * 5) - $grid-desktop-gutter;
$grid-cols-6: ($grid-desktop-unit * 6) - $grid-desktop-gutter;
$grid-cols-7: ($grid-desktop-unit * 7) - $grid-desktop-gutter;
$grid-cols-8: ($grid-desktop-unit * $grid-cols-count) - $grid-desktop-gutter;

$hero-minheight-desktop: 165%;

$media-desktop: 1140px;

$size-unit: 0.1rem;
$size-double: 0.2rem;
$size-demi: 0.4rem;
$size-base: 0.8rem;
$size-medium: 1.6rem;
$size-large: 3.2rem;
$size-extra: 8rem;
