$color-raccoon: #333;
$color-gray-400: #ccc;
$color-white: #fff;

$container-size-medium: 920px;

$font-size-default: 1.6rem;
$font-size-navigation: 1.8rem;

$grid-desktop-col: 120px;
$grid-desktop-gutter: 40px;

$grid-cols-4: 600px;

$size-unit: .1rem;
$size-double: .2rem;
$size-demi: .4rem;
$size-base: .8rem;
$size-medium: 1.6rem;
$size-large: 3.2rem;
$size-extra: 8rem;