@import "../../styles/variables";
@import "../../styles/container";

/**
 * Header component CSS
 */

.header {
  padding: $size-large 0;
  background: $color-raccoon;
  color: $color-white;
}

.header__container {
  @extend .container;
  flex-wrap: wrap;
  background: $color-raccoon;

  @media (min-width: $media-laptop) {
    padding: 0 $grid-desktop-unit;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: $grid-desktop-gutter;
  padding: $size-medium;
  width: $size-extra;

  @media (min-width: $media-tablet) {
    width: $grid-desktop-col;
  }

  & > img {
    height: auto;
    margin-bottom: 0;
    max-width: 100%;
  }
}
